<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${user}" method="post">
  <div>
    <label>Username:
    <input type="text" th:field="*{username}" />
    </label>
  </div>
  <div>
    <label>Password:
    <input type="password" th:field="*{password}" />
    </label>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<p th:text="${message}"></p>
</body>
</html>